@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap');
/*Estilo para la barra de navegacion*/

.navbar{
    height: 100px;
    background-color: #ffffff;
    border-style: solid;
    border-width: 0,5px;
    border-color: #311abb;
}
/*Estilo para el logo de la barra de navegacion*/
.navbar img{
  width: 135px;
  display: flex;
  margin: 0 auto;
}
/*Estilo para los contenedores de contacto y Estandares*/
.contenedor{
  max-width: 1500px;
  padding: 10px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  contain: paint;
  background-color: #000066;
}
.contenedor .contenedor-items{
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  grid-gap: 30px;
  grid-row-gap: 30px;
  width: 100%;
  transition: .3s;
  background-color: #000066;
}
/*Estilo para el contenedor de contacto*/
.contenedor .contenedor-items .item1 li{
    list-style: none;
    margin-left: 28%;
    padding-top: 10%;
    font-weight: bold;
    color: white;
    font-size: 16px;
}
.contenedor .contenedor-items .item1 a{
    text-decoration: none;
    color: black;
}
.contenedor .contenedor-items .item1{
    max-width: 500px;  
    margin-left: 140px;
    border: 1px solid #666;
    border-radius: 10px;
    transition: .3s;
    background-color:#311abb;
    align-items: center;
}
.contenedor-items .item1:hover{
  box-shadow: 0 0 10px #666;
  scale: 1.05;
}
/*estilos contenedor Estandares*/
.contenedor .contenedor-items .item2{
    max-width: 500px;  
    padding: 10px;
    border: 1px solid #666;
    border-radius: 10px;
    padding: 10px;
    transition: .3s;
    background-color:#311abb;
    color: white;
}
.contenedor-items .item2:hover{
    box-shadow: 0 0 10px #666;
    scale: 1.05;
}
.contenedor-items .item2 .img-item{
    width: 100%;
    border-radius: 20px;
}
/*Estilo para el titulo de contacto*/
.contenedor-items .item1 .titulo-item{
    display: flex;
    font-weight: bold;
    align-items: center;
    text-transform: uppercase;
    margin: 10px;
    color: white;
    justify-content: center;
    font-size: 20px;
}
/*Estilo para titulo de Estandares*/
.contenedor-items .item2 .titulo-item{
    display: block;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    margin: 10px;
    font-size: 20px;
}
/*Estilo para pie de contacto*/
.contenedor-items .item1 .precio-item{
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 16px;
    text-align: justify;
    justify-content: center;
    margin-top: 50px;
    color: white;
}
/*Estilo para box de servicios*/
.Servicios{
    border-color: #000042;
    border-style: solid;
    border-width: 2px;
    color: rgb(226, 223, 223);
    border-radius: 5px;
    margin: 10px 10px 10px 10px;
    background-color: #4222d7;
}
/*Estilo para titulo de box de servicios*/
.Servicios h1{
    font-size: 27px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*Estilo para contenido de box de servicios*/
.Servicios li{
    margin-left: 5%;
    font-size: 15px;
    padding: 3px;
}
/*Estilo para linea horizontal*/
.hr {
    height: 1px;
    background-color: rgb(73, 73, 73);
}
/*Estilo para cuerpo de pagina*/  
main{
    background-color: #000066;
}
/*Estilo para formulario cotizador*/
.form-container {
    max-width: 500px; /* Ancho máximo del formulario */
    margin: 0 auto; /* Centrado horizontal del formulario */
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 20px;
    background-color:#4828f1 ;
  }
  /*Estilo para texto que aclara los necesario para cotizar*/
  .importante{
    text-align: justify;
    max-width: 420px;
    margin: 0 auto;
    color: rgb(245, 231, 231);

  }
  /* Estilos para los elementos del formulario */
  label {
    display: block;
    margin-bottom: 5px;
    color: rgb(245, 231, 231);
    margin-left: 12px;
  }
/*Estilo para los box de escritura del usuario*/
  input[type="text"],
  input[type="number"],
  select,
  input[type="tel"],
  input[type="email"] {
    display: block;
    width: 95%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
    background-color: #d0a7f5;
    margin: 0 auto;
  }
/*Estilo para boton de enviar*/
  button[type="submit"] {
    background-color: #0e03fc;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    height: 40px;
    width: 70%;
  }

  button[type="submit"]:hover {
    background-color: #4a38fd;
  }
  /*pocicionar boton en el centro*/
  .boton{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* Estilos específicos para los campos requeridos */
  input[required],
  select[required],
  input[type="radio"][required] {
    border-color: black;
  }

  input[type="radio"][required]:before {
    content: '*';
    color: black;
    font-weight: bold;
    font-size: 16px;
    position: absolute;
    margin-left: -20px;
  }
  /*Estilo para box de descripcion*/
  textarea{
    width: 97%;
    height: 60%;
    border-color:#3a3e99;
    border-radius: 10px;
  }
  /*Estilo par el pie de pagina derechos de autor*/
  .derechos {
    border-style: solid;
    border-color: #311abb;
    background: #5a44df;

  }
  .derechos img{
    width: 100px;    
    
    
  }
  .img{
    display: flex;
    align-items: center;
    justify-content: center;  
  }
  .derechos h6{
    font-size: 14px;
    font-weight: bold;
    align-items: center;
    display: flex;
    justify-content: center;
  }
  .derechos svg{
    display: flex;
    margin-right: 20px;
    
  }
  .derechos h1{
    font-size: 14px;
    font-weight: bold;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: -15px;
  }

/*----------------------------------------------------*/

/*responsive*/
@media screen and (max-width:915px){
  /*Estilo para los contenedores de contacto y Estandares*/
    .contenedor{
        display: block;
    }
    .navbar{
        height: 95px;
        border-style: solid;
        border-width: 3px;
        border-color: #311abb;
    }
    .navbar img{
      width: 130px;
      display: block;
      margin: 0 auto;
    }
    /*Estilo para el contenedor de contacto*/
    .contenedor .contenedor-items .item1 li{
        list-style: none;
        padding: 10px;
        height: auto;
        margin-left: 17%;
        font-size: 13px;
    }
    
    .contenedor .contenedor-items .item1 a{
    text-decoration: none;
    color: black;
    }
    
    .contenedor .contenedor-items .item1{
        width: 100%;  
        margin: 0 auto;
        border: 1px solid #666;
        border-radius: 10px;
        transition: .3s;
        padding: 10px;
        background-color: #311abb;
    }
    /*estilos contenedor Estandares*/
    .contenedor .contenedor-items .item2{
        max-width: 500px;  
        padding: 10px;
        margin:auto;
        border: 1px solid #666;
        border-radius: 10px;
        padding: 10px;
        transition: .3s;
        background-color:#311abb;
    }
    .contenedor-items .item1:hover{
        box-shadow: 0 0 10px #666;
        scale: 1.05;
    }
    .contenedor-items .item2:hover{
        box-shadow: 0 0 10px #666;
        scale: 1.05;
    }
    .contenedor-items .item2 .img-item{
        width: 100%;
        border-radius: 20px;
    }
    /*Estilo para el titulo de contacto*/
    .contenedor-items .item1 .titulo-item{
        display: flex;
        font-weight: bold;
        align-items: center;
        text-transform: uppercase;
        margin: 10px;
        justify-content: center;
        font-size: 15px;
    }
    /*Estilo para titulo de Estandares*/
    .contenedor-items .item2 .titulo-item{
        display: block;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
        margin: 10px;
        font-size: 15px;
    }
    /*Estilo para pie de contacto*/
    .contenedor-items .item1 .precio-item{
        display: flex;
        align-items: center;
        font-weight: bold;
        font-size: 16px;
        text-align: justify;
        justify-content: center;
    }
    /*Estilo para box de servicios*/
    .Servicios{
        border-color: #000042;
        border-style: solid;
        border-width: 2px;
        color: rgb(226, 223, 223);
        border-radius: 10px;
        margin-bottom: 50px;
        background-color: #4222d7;
    }
    /*Estilo para titulo de box de servicios*/
    .Servicios h1{
        font-size: 15px;
        margin-top: 10px;
        text-transform: uppercase;
    }
    .Servicios li{
        margin-left: 5%;
        font-size: 13px;
        padding: 3px;
    } 
    .form-container {
        max-width: 340px; /* Ancho máximo del formulario */
        margin: 0 auto; /* Centrado horizontal del formulario */
        border-style: solid;
        border-width: 1px;
        border-color: black;
        border-radius: 10px;
      }
      #formulario-container {
        display: none;
      }

      .importante{
        align-items: center;
        text-align: center;
        max-width: 260px;
        margin: 0 auto;
        font-size: 13px;
    
      }
    
      /* Estilos para los elementos del formulario */
      label {
        display: block;
        margin-bottom: 5px;
        margin-left: 3px;
        font-size: 12px;
        margin-left: 12px;
      }
    /*Estilo para los box de escritura del usuario*/
      input[type="text"],
      input[type="number"],
      select,
      input[type="tel"],
      input[type="email"] {
        display: block;
        width: 95%;
        padding: 8px;
        font-size: 13px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        background-color: #d0a7f5;
        height: 37px;
      }
      option {
        font-size: 13px;
      }
      /*Estilo para boton de enviar*/
      button[type="submit"] {
        background-color: #0e03fc;
        color: white;
        border: none;
        border-radius: 7px;
        cursor: pointer;
        font-size: 16px;
        height: 30px;
        width: 50%;
        margin-bottom: 20px;
      }
    
      button[type="submit"]:hover {
        background-color: #4a38fd;
      }    
      /* Estilos específicos para los campos requeridos */
      input[required],
      select[required],
      input[type="radio"][required] {
        border-color: black;
      }
    
      input[type="radio"][required]:before {
        content: '*';
        color: black;
        font-weight: bold;
        font-size: 16px;
        position: absolute;
        margin-left: -20px;
      }
      /*Estilo par el pie de pagina derechos de autor*/
      .derechos {
         border-style: solid;
         border-color: #311abb;
         background: #311abb;
  }
      .derechos h1{
         font-size: 12px;
         font-weight: bold;
         align-items: center;
         display: flex;
         justify-content: center;
         margin-top: 3px;
  }
   
}